@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

* {
    overflow: hidden;
    user-select: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#notifyitens {
    width: 180%;
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item {
    width: 150px;
    height: 160px;
    display: flex;
    border-radius: 4px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(29, 29, 29, .85);
    box-shadow: 0 4px 8px 0 rgb(29, 29, 29, .20);
    background-size: 86% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative;
}

.item .top {
    color: #1d1d1d;
    width: 86%;
    height: 100%;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #2e6e4c;
    border-bottom: none;
    font-size: .65rem;
}

.item .nameItem {
    width: 100%;
    height: 30px;
    position: absolute;
    color: #1d1d1d;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 0 0 4px 4px;
    bottom: 0;
    text-align: center;
    align-self: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    background: #2e6e4c;
    filter: drop-shadow(0px 0px 2px rgba(9, 255, 0, 0.6));
}

.itemWeight {
    color: #c4c3ca;
    padding: 4px;
    font-size: 12px;
    position: absolute;
    text-transform: uppercase;
    border-right: 2px solid #2e6e4c;
    border-bottom: 2px solid #2e6e4c;
    border-radius: 0 0 4px 0;
    background: transparent;
    font-family: "Poppins", sans-serif;
}

.itemAmount {
    color: #c4c3ca;
    padding: 4px;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    right: 12px;
    border-left: 2px solid #2e6e4c;
    border-top: 2px solid #2e6e4c;
    border-radius: 4px 0 0 0;
}