@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap);

*,
body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Montserrat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:focus, body:focus {
	outline: 0;
}

#charPage, #createPage, #spawnPage {
	margin: 50px;
	width: 300px;
	display: none;
	letter-spacing: 1px;
	line-height: 20px;
	position: absolute;
}

#spawnPage {
	min-width: 300px;
}

#spawnPage .spawnBox {
	border: 0;
	color: #ccc;
	width: 300px;
	height: 50px; 
	display: flex;
	font-size: 13px;
	cursor: pointer;
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 1px;
	align-items: center;
	border-radius: 3px;
	justify-content: center;
	text-transform: uppercase;
	background: rgb(34, 34, 34);
	border-radius: 10px;
}

#spawnPage .spawnBox:hover {
	background-color: rgba(15,15,15,.90);
	border-radius: 10px;
}

#spawnPage #spawnNew {
	border: 0;
	color: #ccc;
	width: 300px;
	height: 60px;
	display: flex;
	cursor: pointer;
	font-size: 16px;
	border-radius: 3px;
	align-items: center;
	letter-spacing: 2px;
	background: #6e2e2e;
	justify-content: center;
	text-transform: uppercase;
}

#SelectPerson {
	float: left;
	width: 300px;
	padding: 10px;
	color: #f8f8f8;
	transition: all 1s;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	background: rgba(15, 15, 15, .90);
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
	font-weight: bold;
	text-align: center;
}

#charPage .charNew {
	float: left;
	width: 300px;
	padding: 10px;
	color: #ffffff;
	transition: all 1s;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	background: rgba(15, 15, 15, .90);
	font-size: 15px;
	font-weight: 300;
	font-weight: bold;
	text-align: center;
}

#charPage .charNew:hover {
	background: #3a3a3a;
}

#charPage .charBox {
	float: left;
	width: 300px;
	padding: 10px;
	color: #ccc;
	transition: all 1s;
	text-align: center;
	background: rgba(15, 15, 15, .90);
	border-radius: 3px;
	margin-bottom: 10px;
}

#charPage .charBox:hover {
	background: #3a3a3a;
}

#charPage .charBox t1 {
	color: #dadada;
	font-size: 20px;
	font-weight: 300;
	font-weight: bold;
}

#charPage .charBox t2 {
	color: #6e2e2e;
	font-size: 20px;
	font-weight: 300;
	font-weight: bold;
}

#charPage .charBox b {
	color: #dadada;
	font-size: 13px;
	font-weight: 300;
	font-weight: bold;
}

#createCharForm {
	display: flex;
	flex-direction: column;
}

#createCharForm .formInput {
	border: 0;
	color: #ccc;
	width: 260px;
	height: 50px;
	padding: 0 20px;
	margin-top: 10px;
	letter-spacing: 2px;
	border-radius: 3px;
	background: rgba(15,15,15,.75);
}

#createCharForm .formInput::placeholder {
	color: #ccc;
}

#createCharForm .fnButton {
	border: 0;
	color: #ccc;
	width: 300px;
	height: 50px;
	cursor: pointer;
	margin-top: 10px;
	letter-spacing: 2px;
	border-radius: 3px;
}

#createCharForm .fnButton#createNew {
	color: #2b793e;
	background: rgba(31, 30, 30, 0.993);
}

#createCharForm .fnButton#createBack {
	color: #8f3939;
	background: rgba(31, 30, 30, 0.993);
}

#createCharForm .buttonGroup {
	width: 300px;
	margin-top: 10px;
}

#createCharForm .buttonGroup:first-child {
	margin-top: 0;
}

#createCharForm .buttonGroup .buttonsBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#createCharForm .buttonGroup .buttonsBox button {
	border: 0;
	color: #ccc;
	width: 145px;
	height: 50px;
	cursor: pointer;
	border-radius: 3px;
	letter-spacing: 2px;
	background: rgba(15,15,15,.75);
}

#createCharForm .buttonGroup .buttonsBox button.active {
	background: rgba(15,15,15,.90);
}